.container {
  min-width: 2.5rem;
  background-color: #274c77;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0px 5px 5px 0px;
  transition: width 0.3s ease;
  ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    li{  
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover{
        cursor: pointer;
        transition: color 0.4s ease;
      }
      svg{
        font-size: 1.5rem;
        margin-left: 5px ;
        color: #e7ecef;
      }
      p{
        color: #e7ecef;
      }
    }
  }
}

.modalClose {
  width: 2.5rem;
  transition: width 0.5s ease;
  li{
    svg{
      display: flex !important;
    }
    p{
      display: none;
    }
  }
}

.modalOpen{
  width: 180px;
  transition: width 0.3s ease-out;
    li{
      p{
        font-size: 1rem;
        margin-left: 40px;
        position: fixed;
        opacity: 0; 
        animation-name: fadeIn; 
        animation-duration: 2s; 
        animation-fill-mode: forwards;
      } 
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}

