.container {
  height: 100vh;
  width: calc(100% - 2.5rem);
  max-width: 1920px;
  border: 1px solid red;
  margin: auto ;
  margin-left: 2.5rem;
  text-align: center;
  z-index: 00000;
}


// @media screen and (max-width: 320px) {
//   .container{
//     background-color: #000000;
//   }
//   .antigotestamento {
//     h1 {
//       font-size: 1.3rem;
//     }
//   }
//   .novotestamento {
//     h1 {
//       font-size: 1.3rem;
//     }
//   }
// }