* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color:  #e7ecef;
  font-family: 'inter', sans-serif;
}
.dark {
  background-color: #0d1321;
}

a {
  color: inherit;
  text-decoration: none;
}

