.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
  height: 3rem;
  //background-color: #33333350;
  
  //color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}