.container {
  max-width: 768px;
  min-width: calc(320px - 2.5rem);
  margin: auto;
  padding: 10px;
  h2{
    font-size: 1.3rem;
  }
  div{
    q,p{
      padding: 10px;
      font-size: 0.9rem;
      line-height: 1.5;
      font-weight: 600;
    }
    p{
      font-weight: bold;
      color: rgb(3, 166, 172);
    }
  }
}